.path-mod-scheduler .timelabel {
    color: #808080;
}

.path-mod-scheduler .attended {
    color: green;
}

.path-mod-scheduler div.otherstudent.highlight {
    font-weight: bold;
}

.path-mod-scheduler div.slotnotes {
    background-color: #e8e9ee;
    border: solid 1px #a7abbe;
    font-size: 0.9em;
    padding: 2px;
    margin: 1px;
}

div .path-mod-scheduler .appointmentnote {
    background-color: #e7efe7;
    border: solid 1px #a0c5a4;
    font-size: 0.9em;
    padding: 2px;
    margin: 1px;
}

.path-mod-scheduler #slotbookertable {
    margin-left: auto;
    margin-right: auto;
}

.path-mod-scheduler #slotbookertable {
    margin-left: auto;
    margin-right: auto;
}

.path-mod-scheduler div.bookercontrols {
    text-align: center;
}

.path-mod-scheduler div.studentlist.expanded {
    display: block;
}

.path-mod-scheduler div.studentlist.collapsed {
    display: none;
}

.path-mod-scheduler div.commandbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    padding: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Reduce space usage by single buttons in table cells */
.path-mod-scheduler table div.singlebutton div {
    margin-bottom: 0px;
}
.path-mod-scheduler table div.singlebutton input {
    margin: 0px;
}

.path-mod-scheduler div.commandbar span.title {
    float: left;
    clear: right;
    width: 8em;
    text-align: left;
    font-weight: bold;
}

.path-mod-scheduler div.commandbar .moodle-actionmenu {
    display: inline-block;
}

.path-mod-scheduler div.commandbar .moodle-actionmenu.show[data-enhanced] .menu.align-tr-br {
    left: 0;
    right: auto;
}

.path-mod-scheduler div.commandbar .moodle-actionmenu .menubar {
    width: 12em;
}

.path-mod-scheduler .moodle-actionmenu img.iconsmall {
    width: auto;
}
.path-mod-scheduler .moodle-actionmenu .menu-action-text {
    display: inline;
}


body.path-mod-scheduler input.slotselect {
    display: none;
}
body.path-mod-scheduler.jsenabled input.slotselect {
    display: inline;
}

body.path-mod-scheduler.jsenabled  input.studentselectsubmit {
    display: none;
}

.path-mod-scheduler img.statictickbox {
    padding-right: 5px;
}

.path-mod-scheduler .maildisplay {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    text-align: center;
}

.path-mod-scheduler div.schedulelist.halfsize {
    width: 46%;
    display: inline-table;
    padding: 3px;
}

.path-mod-scheduler div.schedulelist.fullsize {
    width: 96%;
    display: block;
    padding: 3px;
}

.path-mod-scheduler div.schedulelist div.singlebutton,
.path-mod-scheduler div.schedulelist div.singlebutton form {
    display: inline;
}

.path-mod-scheduler div.actionmessage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 2px;
    padding: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.path-mod-scheduler div.actionmessage.success {
    background-color: #96fca6;
    border-color: #14fa34;
}

.path-mod-scheduler div.actionmessage.error {
    background-color: #ffb2b8;
    border-color: #f40000;
}

.path-mod-scheduler div.totalgrade {
    padding-bottom: 25px;
}
.path-mod-scheduler dl.totalgrade dl {
    width: 100%;
}
.path-mod-scheduler dl.totalgrade dt {
    float: left;
    clear: left;
    width: 30%;
}
.path-mod-scheduler dl.totalgrade dd {
    float: left;
    width: 60%;
}

.path-mod-scheduler div.dropdownmenu {
    display: inline-block;
    padding-right: 1em;
}

.path-mod-scheduler div.dropdownmenu select {
    vertical-align: middle;
}

/* Format data fields in vertical rather than horizontal list. */

.path-mod-scheduler #id_datafieldhdr .form-group,
.path-mod-scheduler #id_datafieldhdr .fitem_fgroup {
    float: left;
    clear: none;
}

.path-mod-scheduler #id_datafieldhdr .col-md-3,
.path-mod-scheduler #id_datafieldhdr fieldset.fgroup {
    width: 100%;
    text-align: left;
    margin-left: 0;
}

.path-mod-scheduler #id_datafieldhdr .col-md-9 {
	float: none;
	width: 100%;
}

.path-mod-scheduler #id_datafieldhdr .col-form-label,
.path-mod-scheduler #id_datafieldhdr .fitemtitle {
    font-weight: bold;
    text-align: left;
}

.path-mod-scheduler #id_datafieldhdr .form-group .felement .fitem,
.path-mod-scheduler #id_datafieldhdr fieldset.fgroup > span {
    clear: left;
    float: left;
    margin-left: 0.5em;
}
