{{=<% %>=}}

<core-course-module-description description="<% scheduler.intro %>" component="mod_scheduler" componentId="<% cmid %>"></core-course-module-description>

<div padding>

    <h3><%# str %>recentandupcomingslots, mod_scheduler<%/ str %></h3>
    <ion-list>
        <%^ hasslots %>
            <ion-item><p><%# str %>noappointments, mod_scheduler<%/ str %></p></ion-item>
        <%/ hasslots %>
        <%# hasslots %>
            <%# slots %>
                <button ion-item core-site-plugins-new-content method="slot" [args]="{cmid: <% cmid%>, id: <% id %>}">
                    <h2><% timeformatted.date %></h2>
                    <p><% timeformatted.starttime %> - <% timeformatted.endtime %></p>
                </button>
            <%/ slots %>
            <%# hasmore %>
                <ion-item>
                    <button ion-button clear block core-site-plugins-new-content method="teacher_slots" [args]="{cmid: <% cmid %>, page: 0}" title="<%# str %>myappointments, mod_scheduler<%/ str %>">
                        <%# str %>viewmore, core<%/ str %>
                    </button>
                </ion-item>
            <%/ hasmore %>
        <%/ hasslots %>
    </ion-list>

    <!-- Trigger event when the template is loaded. -->
    <span core-site-plugins-call-ws-on-load name="mod_scheduler_appointment_list_viewed" [params]="{cmid: <% cmid %>}" [preSets]="{getFromCache: 0, saveToCache: 0}"></span>
</div>
